.protocol{padding:0rem;background-color:#f9bebe}.protocol h3{font-size:.9375rem;text-align:center;padding-bottom:.625rem}.protocol .part{font-size:.875rem;padding-bottom:.9375rem}.protocol .part p{line-height:1.375rem;color:#FFF;text-align:justify;text-indent:2em;margin-bottom:.3125rem}.protocol .part .no-text-indent{margin-left:-1.8rem}.protocol .part .catalog{font-weight:700}.protocol .part .catalog li{line-height:1.5rem}.protocol .part .list .list-item{padding-bottom:.9375rem}.protocol .part .list .list-item h4{line-height:1.5rem;margin-bottom:.3125rem}.protocol .underline{text-decoration:underline}.protocol .bold{font-weight:700}
	.banner div{
		width:19.96%;
		float:left;
		border:solid 0.1px white;
		overflow:hidden;
		margin-left:0.1px
		}
